extends ./layout/index

block contenido
  main.container.mt-5
    .row 
      .col-md-5
        img(src="img/nosotros.jpg" alt="" class="img-fluid")
      .col-md-7
        h1= pagina

        blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem nam debitis ipsum! Tenetur, ullam, ducimus recusandae repellendus laborum omnis cupiditate excepturi, vitae soluta totam qui. Illum deserunt fugit dicta dolores quia repudiandae vero aliquam ea esse exercitationem beatae, culpa possimus!

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quaerat! Consequuntur assumenda in, magnam impedit voluptates laborum atque sit reprehenderit ex ab cum voluptatem ipsam doloremque neque autem voluptatibus. Fugit ad quae unde! Quibusdam eos excepturi ratione in molestiae repudiandae!

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quaerat! Consequuntur assumenda in, magnam impedit voluptates laborum atque sit reprehenderit ex ab cum voluptatem ipsam doloremque neque autem voluptatibus. Fugit ad quae unde! Quibusdam eos excepturi ratione in molestiae repudiandae!

  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae perferendis blanditiis accusamus ipsum fugit ratione ducimus nisi doloribus consectetur rerum.

        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Destinos 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae perferendis blanditiis accusamus ipsum fugit ratione ducimus nisi doloribus consectetur rerum.

        .col-md-4 
          img(src="img/icono_precio.svg", alt="icono precio", class="img-fluid mb-4")
          h2.mb-4 Precio 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae perferendis blanditiis accusamus ipsum fugit ratione ducimus nisi doloribus consectetur rerum.